@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


@theme{
  --font-Inter:"Inter", sans-serif;
}


@layer utilities {
  .animate-marquee {
    animation: marquee 40s linear infinite;
  }
  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes ticker {
    from {
      transform: translateX(50%);
    }
    to {
      transform: translateX(-50%);
    }
  }
}


@layer base{
h1{
  @apply text-2xl font-bold;
}
h2{
  @apply text-xl font-bold;
}
h3{
  @apply text-lg font-bold;
}

blockquote{
  @apply border-l-4 border-gray-300 pl-4;
}



}
